[user]
	email = emilien.mottet@grenoble-inp.org
	name = Emilien Mottet
	signingkey = emimo14@gmail.com
[magithub]
	online = true
[magithub "status"]
	includeStatusHeader = true
	includePullRequestsSection = true
	includeIssuesSection = true
[url "git@gitlab.ensimag.fr:"]
	insteadOf = https://gitlab.ensimag.fr/
[github]
	user = EmilienMottet
