#!/bin/sh

urxvtd -q -f -o
# feh --bg-max --randomize /home/emilien/Images/wallpaper/* /usr/share/backgrounds/larry-the-cow/*1920*
export TERMINAL=urxvtc

export PATH="$HOME/.local/share/JetBrains/Toolbox/bin:$PATH"
